# Compiler files
**/cache/
**/out/

# Ignores broadcast logs
**/broadcast

# Docs
**/docs/

# Dotenv file
**/.env

# Soldeer
/contracts/dependencies

# Configs with sensitive data
**/agent.json
**/key-policy.json
**/bucket-policy.json

# Ignore local db tmp files
**/hyperlane_db/*
!**/hyperlane_db/.gitkeep

.direnv/
