x-common-attributes: &common
  image: gcr.io/abacus-labs-dev/hyperlane-agent:agents-v1.4.0
  environment:
    CONFIG_FILES: /config.json
    AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    AWS_REGION: ${AWS_REGION}
    # RUST_LOG: debug
  restart: unless-stopped
  security_opt:
    - seccomp:unconfined
  network_mode: "host"

services:
  source-validator:
    container_name: source-validator
    <<: *common

    command: ./validator --metricsPort="9090"
    volumes:
      - ./config/agent.json:/config.json
      - ./${SERVICE_NAME}/hyperlane_db:/mnt/hyperlane_db

  relayer:
    container_name: relayer
    <<: *common

    command: ./relayer --metricsPort="9091"
    volumes:
      - ./config/agent.json:/config.json
      - ./relayer/hyperlane_db:/mnt/hyperlane_db
