destination:
  interchainSecurityModule:
    threshold: 1
    type: messageIdMultisigIsm
    validators:
      - "$VALIDATOR_ADDRESS"
  isNft: false
  owner: "$DEPLOYER_ADDRESS""
  proxyAdmin:
    address: "$PROXY_ADMIN_ADDRESS"
    owner: "$DEPLOYER_ADDRESS"
  type: synthetic
source:
  interchainSecurityModule:
    threshold: 1
    type: messageIdMultisigIsm
    validators:
      - "$VALIDATOR_ADDRESS"
  isNft: false
  owner: "$DEPLOYER_ADDRESS"
  proxyAdmin:
    address: "$PROXY_ADMIN_ADDRESS"
    owner: "$DEPLOYER_ADDRESS"
  type: native
