# First address of anvil
DEPLOYER_PRIVATE_KEY=$DEPLOYER_PRIVATE_KEY
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# RPC config for Caff node
SOURCE_CHAIN_RPC_URL=http://localhost:8547

# RPC config for Anvil node
DESTINATION_CHAIN_RPC_URL=http://localhost:8549

# Address from default anvil keys/addresses
VALIDATOR_ADDRESS=0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f

SOURCE_CHAIN_ID=412346
DESTINATION_CHAIN_ID=31338

SOURCE_MAILBOX_ADDRESS=$SOURCE_MAILBOX_ADDRESS
SOURCE_ISM_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266


DESTINATION_MAILBOX_ADDRESS=$DESTINATION_MAILBOX_ADDRESS
DESTINATION_ISM_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# Env variables for crosschain ETH tokens send
SOURCE_TO_DESTINATION_TOKEN_ADDRESS=0x7a2088a1bFc9d81c55368AE168C2C02570cB814F
XCHAIN_AMOUNT_WEI=1000000000000000
TOKENS_RECIPIENT=0x976EA74026E726554dB657fA54763abd0C3a0aa9

# Env variables for upgrading Native (Source) / synthetic (Destination) tokens
SOURCE_PROXY_ADMIN_ADDRESS=$SOURCE_PROXY_ADMIN_ADDRESS
DESTINATION_PROXY_ADMIN_ADDRESS=$DESTINATION_PROXY_ADMIN_ADDRESS
DESTINATION_TO_SOURCE_TOKEN_ADDRESS=0x84eA74d481Ee0A5332c457a4d796187F6Ba67fEB
# We have different price due to potential different Native currencies on different chains.
# This is the price setup for the 1st Prod deployment Rari -> Ape (0.001 ETH -> APE 10 APE). For deployment Ape -> Rari. Don't forget to REVERSE values.
SOURCE_SALE_PRICE_WEI=1000000000000000
DESTINATION_SALE_PRICE_WEI=10000000000000000000
BRIDGE_BACK_PAYMENT_AMOUNT_WEI=1000000000000000
NFT_NAME="Bridgeless Minting NFT"
NFT_SYMBOL=BM

# Needed for the real testnet/mainnet deployments. Should be more than current time.
SALE_TIME_START=1764686760
SALE_TIME_END=1767105960

# Env variables for sending tokens and minting NFT
# Currently treasury address is the 4th address from the test mnemonic
ESPRESSO_TREASURY_ADDRESS=0x90F79bf6EB2c4f870365E785982E1f101E93b906
PARTNER_TREASURY_ADDRESS=0x90F79bf6EB2c4f870365E785982E1f101E93b906
PRICE_ADMIN_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
# This is the treasury setup for the 1st Prod deployment Rari -> Ape 100% - 10000 BPS.
# For deployment Ape -> Rari. 75% for Espresso and 25% for Rari, Set 7500
ESPRESSO_TREASURY_PERCENTAGE=10000
SOURCE_NFT_ADDRESS=0x1613beb3b2c4f22ee086b2b38c1476a3ce7f78e8
DESTINATION_NFT_ADDRESS=0x1613beb3b2c4f22ee086b2b38c1476a3ce7f78e8
SOURCE_BASE_IMAGE_URI=https://xchain-nft.s3.us-east-2.amazonaws.com/ape/
DESTINATION_BASE_IMAGE_URI=https://xchain-nft.s3.us-east-2.amazonaws.com/rari/
# This is the chain names setup for the 1st Prod deployment Rari -> Ape
SOURCE_CHAIN_NAME=Ape
DESTINATION_CHAIN_NAME=Rari

# REPLACE to -  0xD50a66B631544454b21BC32f5A2723428dbf3073 on APE
HYPERLANE_ESPRESSO_ADMIN=0x740812DC83d6cE2a9bdde35aF54799097f355da1

# ETH threshold, For Ape set 1
BALANCE_THRESHOLD="0.01"

BENEFICIARY_ADDRESS=0x99f21210fa5c98569c609ae9abeb8bfff2843c13
IGP_ADDRESS=0x122bF1B008dAbc71d9732263ceF16e0e6562FE3a
TEST_RECIPIENT_ADDRESS=0x00D05aed5B45EE58Cd79F4D970B29b1590BD5522

# Espresso Tee Verifier
SOURCE_ESPRESSO_TEE_VERIFIER_ADDRESS=0x0000000000000000000000000000000000000000
DESTINATION_ESPRESSO_TEE_VERIFIER_ADDRESS=0x0000000000000000000000000000000000000000
