# First address of anvil
export DEPLOYER_PRIVATE_KEY=$DEPLOYER_PRIVATE_KEY
export DEPLOYER_ADDRESS=$DEPLOYER_ADDRESS

# RPC config for Caff node
export SOURCE_CHAIN_RPC_URL=http://localhost:8547

# RPC config for Anvil node
export DESTINATION_CHAIN_RPC_URL=http://localhost:8549

#Get AWS validator address after run anvil/hyperlane/validator-relayer-setup/scripts/fund-addresses.sh
export VALIDATOR_ADDRESS=$VALIDATOR_ADDRESS

export S_MAILBOX_ADDRESS=$S_MAILBOX_ADDRESS
export S_ISM_ADDRESS=$S_ISM_ADDRESS
export S_ORIGIN_CHAIN_ID=$S_ORIGIN_CHAIN_ID
export S_DESTINATION_CHAIN_ID=$S_DESTINATION_CHAIN_ID

export D_MAILBOX_ADDRESS=$D_MAILBOX_ADDRESS
export D_ISM_ADDRESS=$D_ISM_ADDRESS
export D_ORIGIN_CHAIN_ID=$D_ORIGIN_CHAIN_ID
export D_DESTINATION_CHAIN_ID=$D_DESTINATION_CHAIN_ID
