# First address of anvil
export DEPLOYER_PRIVATE_KEY=$DEPLOYER_PRIVATE_KEY
export DEPLOYER_ADDRESS=$DEPLOYER_ADDRESS

# RPC config for Caff node
export SOURCE_CHAIN_RPC_URL=http://localhost:8547

# RPC config for Anvil node
export DESTINATION_CHAIN_RPC_URL=http://localhost:8549

#Get AWS validator address after run anvil/hyperlane/validator-relayer-setup/scripts/fund-addresses.sh
export VALIDATOR_ADDRESS=$VALIDATOR_ADDRESS

export SOURCE_CHAIN_ID=412346
export DESTINATION_CHAIN_ID=31338

export SOURCE_MAILBOX_ADDRESS=$SOURCE_MAILBOX_ADDRESS
export SOURCE_ISM_ADDRESS=$SOURCE_ISM_ADDRESS

export DESTINATION_MAILBOX_ADDRESS=$DESTINATION_MAILBOX_ADDRESS
export DESTINATION_ISM_ADDRESS=$DESTINATION_ISM_ADDRESS
