name: Contracts

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  pull_request:
    branches:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci
  SERVICES_LOGS: /tmp/xchain-services.log

defaults:
 run:
  working-directory: ./contracts

jobs:
  build:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.5

      - name: Install solidity deps
        run: forge soldeer install

      - name: Build all contracts
        run: forge build --via-ir

  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - name: Install process-compose
        run: nix profile install nixpkgs#process-compose
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.5
      - uses: taiki-e/install-action@just

      - name: Install solidity deps
        run: forge soldeer install

      - name: Launch chains
        run: |
          just launch-chains 2>&1 | tee $SERVICES_LOGS &
          sleep 5

      - name: Run all tests
        run: just test

      - name: Upload service logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xchain-chains-logs
          path: ${{ env.SERVICES_LOGS }}

  coverage:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - name: Install process-compose
        run: nix profile install nixpkgs#process-compose
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.5
      - uses: taiki-e/install-action@just

      - name: Install solidity deps
        run: forge soldeer install

      - name: Launch chains
        run: |
          just launch-chains 2>&1 | tee $SERVICES_LOGS &
          sleep 5

      - name: Upload service logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xchain-chains-logs-coverage
          path: ${{ env.SERVICES_LOGS }}

      # YT: Fails due to buggy foundry coverage module
      # - name: Run coverage
      #   run: just coverage --report summary --report lcov

      # TODO: MA: I think this currently fails because our repo isn't public
      # - name: Upload coverage to Coveralls
      #   uses: coverallsapp/github-action@v2
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     file: ./contracts/lcov.info
      #     flag-name: contracts
      #     parallel: false

  lint:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.5

      - name: Format check
        run: forge fmt --check

      - name: Install solidity deps
        run: forge soldeer install

      - name: Build non-test contracts without warnings
        run: forge build --via-ir --skip test --deny-warnings
